.content {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.content > * {
  height: 100%;
}

.top-panel {
  padding: 40px 60px;
}

.form-header {
  font-weight: 700;
  font-size: 21px;
}

.select-project-default {
  display: none;
}

table {
  width: 100%;
  line-height: 1.9;
}

tbody {
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

thead, tbody tr {
  display:table;
  width:100%;
}

table, th, td {
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-collapse: collapse;
  text-align: center;
}

td {
  font-size: 14px;
  padding: 6px 0;
  line-height: 1;
}

.table-key-column {
  width: 50px;
}

.table-output-column {
  width: 500px;
}

.table-status-column, .table-delete-column {
  width: 60px;
}

form {
  line-height: 2;
}

select {
  cursor: pointer;
}

textarea {
  outline: none;
  resize: none;
  padding-top: 1px;
  padding-bottom: 0;
  vertical-align: middle;
  width: 70vw;
  float: right;
  clear: both;
  margin-right: 100px;
}

#new-project-input {
  outline: none;
  width: 62vw;
  margin-top: 7px;
  vertical-align: middle;
  float: right;
  margin-right: 100px;
}

#new-project-title {
  outline: none;
  width: 62vw;
}

#add-project-submit {
  margin: 0 12px;
}
